<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyUdemy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedAdmin()">
          <li class="nav-item">
            <p class="nav-link " routerLink="admin-ops" ngClass="font-weight-bold">Courses ops</p>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedAdmin()">
          <li class="nav-item">
            <a class="nav-link" routerLink="users">Users ops</a>
          </li>
        </ul>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="login" [hidden]="isLogged() || isLoggedAdmin()">Login</a>
        </li>
        <ul class="nav navbar-nav navbar-right" *ngIf="isLogged();">
          <li class="nav-item">
            <a class="nav-link" routerLink="observables" [queryParams]="{'name': 'osserva'}">Observables</a>
          </li>
        </ul>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="pipes">Pipes</a>
        </li> -->
        <li>
          <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search a course" aria-label="Search" [hidden]="isLoggedAdmin()">
            <button class="btn btn-light" type="submit" [hidden]="isLoggedAdmin()">Search</button>
          </form>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Courses</a></li>
            <li><a class="dropdown-item" href="#">ALTRO</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isLogged() || isLoggedAdmin()">
        <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
        <button type="button" class="btn btn-warning" (click)="openModalMessage()">Logout</button>
      </ul>
    </div>
  </div>
</nav>



<div class="modal" tabindex="-1"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to be logged out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalMessage()">Back</button>
        <br>
        <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>     
      </div>
    </div>
  </div>
</div>


