<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyUdemy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="catalog">Catalog</a>
        </li>

        <ul class="nav navbar-nav navbar-right" [hidden]="!(isLogged() || isLoggedUser()) || (isLoggedUser())">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin-ops">Courses</a>
          </li>
        </ul>



        <ul class="nav navbar-nav navbar-right" [hidden]="!(isLogged() || isLoggedUser()) || (isLoggedUser())">
          <li class="nav-item">
            <a class="nav-link" routerLink="users">Users ops</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" [hidden]="!(isLogged() || isLoggedUser()) || (isLogged())">
          <li class="nav-item">
            <a class="nav-link" routerLink="mycourses">My Courses as teacher</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" [hidden]="!(isLogged() || isLoggedUser()) || (isLogged()) ">
          <li class="nav-item">
            <a class="nav-link" routerLink="mycoursesAsStudent">My Courses as student</a>
          </li>
        </ul>
      </ul>

      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Software Developement  </a></li>
            <li><a class="dropdown-item" href="#">Business</a></li>
            <li><a class="dropdown-item" href="#">Finance</a></li>
            <li><a class="dropdown-item" href="#">Design </a></li>
            <li><a class="dropdown-item" href="#">Marketing</a></li>
            <li><a class="dropdown-item" href="#">Sport and Health</a></li>
            <li><a class="dropdown-item" href="#">Music</a></li> 
            <li><a class="dropdown-item" href="#">Health</a></li>
          </ul>
        </li> -->


      <!-- <ul class="nav navbar-nav navbar-right" *ngIf="isLogged();">
          <li class="nav-item">
            <a class="nav-link" routerLink="observables" [queryParams]="{'name': 'osserva'}">Observables</a>
          </li>
        </ul> -->

      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="pipes">Pipes</a>
        </li> -->
      <!-- <li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Catalog's search" aria-label="Search">
            <button class="btn btn-light " type="submit" >Search</button>
          </form>
        </li> -->


      <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      <ul class="nav navbar-nav navbar-right" [hidden]="!isLoggedOnFire()">
        <button type="button" class="btn">
          <svg type=button class="bi" width="26" height="26" fill="white" >
            <use xlink:href="bootstrap-icons.svg#cart-fill" />
          </svg>    

        </button>
      </ul>

      <ul class="nav navbar-nav navbar-right" [hidden]="!isLoggedOnFire()">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" >My profile</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" [hidden]="!isLoggedOnFire()">
        <svg type=button class="bi" width="26" height="26" fill="white" (click)="openModalMessage()">
          <use xlink:href="bootstrap-icons.svg#person-x-fill" />
        </svg>
      </ul>

      <ul class="nav navbar-nav navbar-right" [hidden]="isLoggedOnFire()">
        <svg type=button routerLink="login" class="bi" width="26" height="26" fill="white">
          <use xlink:href="bootstrap-icons.svg#person-circle" />
        </svg>
      </ul>


      <!-- <ul class="nav navbar-nav navbar-right text-light" [hidden]="!(isLogged() || isLoggedUser())"
        *ngIf="(teacherDetails$ |   async); let teacherDetails">
        <li> Welcome {{teacherDetails?.username}}     &nbsp;&nbsp;
      </ul>

      <ul class="nav navbar-nav navbar-right" [hidden]="isLogged() || isLoggedUser()">
        <svg type=button routerLink="login" class="bi" width="26" height="26" fill="white">
          <use xlink:href="bootstrap-icons.svg#person-circle" />
        </svg>
      </ul> -->


      <ul class="nav navbar-nav navbar-right" [hidden]="!(isLogged() || isLoggedUser()) ">
        <svg type=button class="bi" width="26" height="26" fill="white" (click)="openModalMessage()">
          <use xlink:href="bootstrap-icons.svg#person-x-fill" />
        </svg>

      </ul>

    </div>
    <!-- <button type="button" class="btn btn-warning" (click)="logout()">Logout</button> -->
  </div>
</nav>



<div class="modal" tabindex="-1" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to be logged out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalMessage()">
          <svg type=button routerLink="login" class="bi" width="16" height="16" fill="white">
            <use xlink:href="bootstrap-icons.svg#backspace" />
          </svg>
          Back</button>
        <br>
        <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>