<br>
<div class="row">
    <div class="col">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <br>
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit()">
                <div class="form-group">
                    <label for="userid" class="form-label">Username</label>
                    <input id="userid" class="form-control" type="text" name="userid"
                    [(ngModel)]="loginData.username"
                    #userid="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" type="password" name="password"
                    [(ngModel)]="loginData.password"
                    #password="ngModel" required >
                </div>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log me in</button>
                <br>
            </form>
        </div>      
        
    </div>
</div>
<div class="modal" tabindex="-1" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login failed</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Wrong username or password or server is down</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="closeModalMessage()">Back</button>
          <br>          
        </div>
      </div>
    </div>
  </div>
