<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5>Course Lists</h5>
      <div [ngStyle]="{'display':displayView}" class="card" *ngFor="let c of mycourses$ | async">

        <div class="card-body">
          <h5 class="card-title">Course ID: {{ c.id_corso }}</h5>
          <p class="card-text"> Title: {{c.titolo}}</p>
          <svg type=button class="bi" width="26" height="26" fill="currentColor"
            (click)="setCourseDetails(c.id_corso!)">
            <use xlink:href="bootstrap-icons.svg#zoom-in" />
            Details:
          </svg>
        </div>
      </div>



    </div>
    <div class="col-sm">
      <h5>Course Details</h5>

      <div class="card" *ngIf="(mycourseDetails$ |   async); let mycoursedetail" [ngStyle]="{'display':displayView}">
        <!-- <img [src]="m?.image?.medium" class="card-img-top" [alt]="m.name"> -->
        <div class="card-body">
          <p class="card-text">id corso {{mycoursedetail?.id_corso}}</p>
          <h4 class="card-text">{{mycoursedetail?.titolo}}</h4>
         
          <p class="card-text">Total seats: {{mycoursedetail?.numPosti}}</p>
          <p class="card-text">Available seats: {{mycoursedetail?.numPostiDisponibili}}</p>
          <p class="card-text">Expected exam: {{mycoursedetail?.previstoEsame}}</p>
          <p class="card-text">Price:{{mycoursedetail?.prezzo}}</p>
          <p class="card-text">Start date: {{mycoursedetail?.inizio | date:"dd/MM/yyyy HH:mm"}}</p>
          <p class="card-text">End date: {{mycoursedetail?.fine | date:"dd/MM/yyyy HH:mm"}}</p>
          <p class="card-text">Credits: {{mycoursedetail?.crediti}}</p>
          <p class="card-text">Total hours:{{mycoursedetail?.ore}}</p>
          <p class="card-text">Description: {{mycoursedetail?.descrizione}}</p>
          <p class="card-text">Language: {{mycoursedetail?.lingua}}</p>
          <p class="card-text">Category: {{mycoursedetail?.categoria}}</p>
          <svg type=button class="bi" width="26" height="26" fill="red" (click)="enableForm()">
            <use xlink:href="bootstrap-icons.svg#pen" />
            Edit:
          </svg>

        </div>
      </div>

      <form [formGroup]="courseForm" [ngStyle]="{'display':display}"
        *ngIf="(mycourseDetails$ |   async); let mycoursedetail" (ngSubmit)="saveOnStore()">
        <div class="mb-3" class="form-group">Course ID
          <input type="text" class="form-control" formControlName="id_corso" id="id_corso" aria-describedby="id_corso">
        </div>
        <div class="mb-3" class="form-group">Title:
          <input type="text" class="form-control" formControlName="titolo" id="titolo" aria-describedby="titolo">
        </div>

        <div class="mb-3" class="form-group">Total seats:
          <input type="text" class="form-control" formControlName="numPosti" id="numPosti" aria-describedby="numPosti">
        </div>

        <div class="mb-3" class="form-group">Available seats:
          <input type="text" class="form-control" formControlName="numPostiDisponibili" id="numPostiDisponibili">
        </div>
        <div class="mb-sm-2" class="form-group">Expected exam:
          <input type="text" class="form-control" formControlName="previstoEsame" id="previstoEsame">
        </div>
        <div class="mb-3" class="form-group">Price:
          <input type="text" class="form-control" formControlName="prezzo" id="prezzo" aria-describedby="prezzo">
        </div>
        <div class="mb-3" class="form-group">Start date:
          <input type="datetime" class="form-control" formControlName="inizio" id="inizio" aria-describedby="inizio">

        </div>
        <div class="mb-3" class="form-group">End date:
          <input type="datetime" class="form-control" formControlName="fine" id="fine" aria-describedby="fine">
        </div>
        <div class="mb-3" class="form-group">Credits:
          <input type="text" class="form-control" formControlName="crediti" id="crediti" aria-describedby="crediti">
        </div>
        <div class="mb-3" class="form-group">Total hours:
          <input type="text" class="form-control" formControlName="ore" id="ore" aria-describedby="ore">
        </div>
        <div class="mb-3" class="form-group">Description:
          <input type="text" class="form-control" formControlName="descrizione" id="descrizione"
            aria-describedby="descrizione">
        </div>
        <div class="mb-3" class="form-group">Language:
          <input type="text" class="form-control" formControlName="lingua" id="lingua" aria-describedby="lingua">
        </div>
        <div class="mb-3" class="form-group">Category:
          <input type="text" class="form-control" formControlName="categoria" id="categoria"
            aria-describedby="categoria">
        </div>

        <button type="submit" class="btn btn-danger" [disabled]="!courseForm.valid">Save onn storage and disk</button>
        <button type="reset" class="btn btn-secondary" (click)="disableForm()"> Back</button>
      </form>


    </div>
    <div class="col-sm">
      One of three columns
      <div class="card" *ngIf="(teacherDetails$ |   async); let teacherDetails">
        <svg class="bi" class="card-img-top" width="50" height="50" fill="green">
          <use xlink:href="bootstrap-icons.svg#person-vcard" />
        </svg>
        <div class="card-body">
          <h5 class="card-title">Your Username: {{teacherDetails?.username}}</h5>
          <p class="card-text">Your userid: {{teacherDetails?.id_user}}</p>
          <p class="card-text">Name: {{teacherDetails?.nome}}</p>
          <p class="card-text">Surname: {{teacherDetails?.cognome}}</p>
          <p class="card-text" type="email">Email: {{teacherDetails?.email}}</p>

        </div>
      </div>

    </div>
  </div>
</div>