
<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="6000">
        <h4 class="center">Welcome to My Udemy</h4>
        <h5 class="center">Improve your skills</h5>
        <p class="center"> Buy about a hundred formation courses</p>
      <img class="center" src="https://cdn.shopify.com/s/files/1/0451/2881/0657/t/6/assets/img-hero-coursecat.svg?v=139047362454786900271611358720" class="d-block w-100" width="600" height="400">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="6000">
      <h4 class="center">Welcome to My Udemy</h4>
      <h5 class="center">Increase your salary making courses for other people</h5>
        <p class="center">Create a course for free and start </p>
      <img class="center"  src="https://assets-us-01.kc-usercontent.com/fbd574c4-da36-0066-a0c5-849ffb2de96e/c7b4b27b-1787-4cd8-b64a-874a9ef1fe9d/Course%20prerequisites%20banner%20ver%202.1.svg" class="d-block w-100" width="600" height="400">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
   </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>