<div class="container">
  <div class="alert alert-success" *ngIf="feedback && feedback.success">
    {{ feedback.message }}
    <button type="button" class="btn-close" aria-label="Close" (click)="feedbackEvHandler()"></button>
  </div>

  <div class="alert alert-danger " *ngIf="feedback && !feedback.success">
    {{ feedback.message }}
  </div>
  <div class="row">
    <div class="col-sm">
      <h6>Course Lists</h6>
      <!-- <div class="card" *ngFor="let c of coursesFire; let i = index">

        <div class="card-body">
          <h6 class="card-title">Course ID: {{ c.id_corso }}</h6>
          <h6 class="card-text"> Title: {{c.titolo}}</h6>
          <svg type=button class="bi" width="26" height="26" fill="currentColor"
            (click)="setCourseDetails(c.id_corso!)">
            <use xlink:href="bootstrap-icons.svg#zoom-in" />
            Details:
          </svg>
        </div>
      </div> -->
      <br>
      <button class="btn btn-primary" (click)="createForm()">Create a new Course</button>

    </div>


    <div class="col-sm">

      <h6>Course Details</h6>
      <div class="card" *ngIf="(mycourseDetails$ |   async); let mycoursedetail" [ngStyle]="{'display':displayView}">
        <!-- <img [src]="m?.image?.medium" class="card-img-top" [alt]="m.name"> -->
        <div class="card-body">
          <h5 class="card-text">Course ID:{{mycoursedetail?.id_corso}}</h5>
          <h3 class="card-text">{{mycoursedetail?.titolo}}</h3>

          <p class="card-text">Total seats: {{mycoursedetail?.numPosti}}</p>
          <p class="card-text">Available seats: {{mycoursedetail?.numPostiDisponibili}}</p>
          <p class="card-text">Expected exam: {{mycoursedetail?.previstoEsame}}</p>
          <p class="card-text">Price:{{mycoursedetail?.prezzo}}</p>
          <p class="card-text">Start date: {{mycoursedetail?.inizio | date:"dd/MM/yyyy HH:mm"}}</p>
          <p class="card-text">End date: {{mycoursedetail?.fine | date:"dd/MM/yyyy HH:mm"}}</p>
          <p class="card-text">Credits: {{mycoursedetail?.crediti}}</p>
          <p class="card-text">Total hours:{{mycoursedetail?.ore}}</p>
          <p class="card-text">Description: {{mycoursedetail?.descrizione}}</p>
          <p class="card-text">Language: {{mycoursedetail?.lingua}}</p>
          <p class="card-text">Category: {{mycoursedetail?.categoria}}</p>
          
          <svg type=button class="bi" width="26" height="26" fill="red" (click)="enableForm()">
            <use xlink:href="bootstrap-icons.svg#pen" />
            Edit:
          </svg>

        </div>
      </div>

      <form [formGroup]="courseForm" [ngStyle]="{'display':display}"
        *ngIf="(mycourseDetails$ |   async); let mycoursedetail" (ngSubmit)="patchOnStore()">
        <div class="mb-3" class="form-group ">Course ID
          <input type="text" class="form-control form-control-sm" formControlName="id_corso" id="id_corso"
            aria-describedby="id_corso">
        </div>
        <div class="mb-3" class="form-group">Title:
          <input type="text" class="form-control form-control-sm" formControlName="titolo" id="titolo"
            aria-describedby="titolo">
        </div>

        <div class="mb-3" class="form-group">Total seats:
          <input type="text" class="form-control form-control-sm" formControlName="numPosti" id="numPosti"
            aria-describedby="numPosti">
        </div>
        <div class="mb-3" class="form-group">Available seats:
          <input type="text" class="form-control form-control-sm" formControlName="numPostiDisponibili"
            id="numPostiDisponibili">
        </div>
        <div class="mb-sm-2" class="form-group">Expected exam:
          <input type="text" class="form-control form-control-sm" formControlName="previstoEsame" id="previstoEsame">
        </div>
        <div class="mb-3" class="form-group">Price:
          <input type="text" class="form-control form-control-sm" formControlName="prezzo" id="prezzo"
            aria-describedby="prezzo">
        </div>
        <div class="mb-3" class="form-group">Start date:
          <input type="datetime" class="form-control form-control-sm" formControlName="inizio" id="inizio"
            aria-describedby="inizio">

        </div>
        <div class="mb-3" class="form-group">End date:
          <input type="datetime" class="form-control form-control-sm" formControlName="fine" id="fine"
            aria-describedby="fine">
        </div>
        <div class="mb-3" class="form-group">Credits:
          <input type="text" class="form-control form-control-sm" formControlName="crediti" id="crediti"
            aria-describedby="crediti">
        </div>
        <div class="mb-3" class="form-group">Total hours:
          <input type="text" class="form-control form-control-sm" formControlName="ore" id="ore" aria-describedby="ore">
        </div>
        <div class="mb-3" class="form-group">Description:
          <input type="text" class="form-control form-control-sm" formControlName="descrizione" id="descrizione"
            aria-describedby="descrizione">
        </div>
        <div class="mb-3" class="form-group">Language:
          <input type="text" class="form-control form-control-sm" formControlName="lingua" id="lingua"
            aria-describedby="lingua">
        </div>
        <div class="mb-3" class="form-group">Category:
          <input type="text" class="form-control form-control-sm" formControlName="categoria" id="categoria"
            aria-describedby="categoria">
        </div><br>
       
        <button type="submit" id="editbutton" class="btn btn-danger" [disabled]="!courseForm.valid">Patch on remote
          db</button> &nbsp;
        <button type="reset" class="btn btn-secondary" (click)="disableForm()"> Back</button>
      </form>

      <form [formGroup]="courseForm" [ngStyle]="{'display':displayCreate}">
        <div class="mb-3" class="form-group">Course ID
          <input type="text" class="form-control form-control-sm" formControlName="id_corso" id="id_corso"
            aria-describedby="id_corso">
        </div>
        <div class="mb-3" class="form-group">Title:
          <input type="text" class="form-control form-control-sm" formControlName="titolo" id="titolo"
            aria-describedby="titolo">
        </div>
        <div class="mb-3" class="form-group">Total seats:
          <input type="text" class="form-control form-control-sm" formControlName="numPosti" id="numPosti"
            aria-describedby="numPosti">
        </div>

        <div class="mb-3" class="form-group">Available seats:
          <input type="text" class="form-control form-control-sm" formControlName="numPostiDisponibili"
            id="numPostiDisponibili">
        </div>
        <div class="mb-sm-2" class="form-group">Expected exam:
          <input type="text" class="form-control form-control-sm" formControlName="previstoEsame" id="previstoEsame">
        </div>
        <div class="mb-3" class="form-group">Price:
          <input type="text" class="form-control form-control-sm" formControlName="prezzo" id="prezzo"
            aria-describedby="prezzo">
        </div>
        <div class="mb-3" class="form-group">Start date:
          <input type="datetime" class="form-control form-control-sm" formControlName="inizio" id="inizio"
            aria-describedby="inizio">

        </div>
        <div class="mb-3" class="form-group">End date:
          <input type="datetime" class="form-control form-control-sm" formControlName="fine" id="fine"
            aria-describedby="fine">
        </div>
        <div class="mb-3" class="form-group">Credits:
          <input type="text" class="form-control form-control-sm" formControlName="crediti" id="crediti"
            aria-describedby="crediti">
        </div>
        <div class="mb-3" class="form-group">Total hours:
          <input type="text" class="form-control form-control-sm" formControlName="ore" id="ore" aria-describedby="ore">
        </div>
        <div class="mb-3" class="form-group">Description:
          <input type="text" class="form-control form-control-sm" formControlName="descrizione" id="descrizione"
            aria-describedby="descrizione">
        </div>
        <div class="mb-3" class="form-group">Language:
          <input type="text" class="form-control form-control-sm" formControlName="lingua" id="lingua"
            aria-describedby="lingua">
        </div>
        <div class="mb-3" class="form-group">Category:
          <input type="text" class="form-control form-control-sm" formControlName="categoria" id="categoria"
            aria-describedby="categoria">
        </div>
        <div class="mb-3" class="form-group">Image:
          <input type="text" class="form-control form-control-sm" formControlName="image" id="image"
            aria-describedby="image">
        </div><br>
        <br>
        <button type="submit" id="createbutton" class="btn btn-primary btn-sm" [disabled]="!courseForm.valid"
          (click)="saveOndDB()">Save and submit </button>
        &nbsp;
        <button id="savedraft" class="btn btn-warning btn-sm" [disabled]="!courseForm.valid"
          (click)="saveOnStorage()">Save
          draft</button>&nbsp;
        <button type="reset" class="btn btn-info btn-sm" (click)="disableForm()"> Back</button>
      </form>

    </div>
    <div class="col-sm" #form1>
      <h6>Your Profile</h6>
      <div class="card" *ngIf="(teacherDetails$ |   async); let teacherDetails"  >
        <svg class="bi" class="card-img-top" width="50" height="50" fill="green">
          <use xlink:href="bootstrap-icons.svg#person-vcard" />
        </svg>
        <div class="card-body">
          <h6>Your Username: </h6>
          <h5 class="card-title">{{teacherDetails?.username}}</h5>
          Your userid:
          <p class="card-text">{{teacherDetails?.id_user}}</p>
          Name:
          <p class="card-text">{{teacherDetails?.nome}}</p>
          Surname:
          <p class="card-text">{{teacherDetails?.cognome}}</p>
          Email:
          <p class="card-text" type="email">{{teacherDetails?.email}}</p>

        </div>
      </div>
      <div class="col-sm">
        <br>
        Course drafted. 
        <div class="card" *ngFor="let myd of myDraft$ | async">
          <svg class="bi" class="card-img-left" width="32" height="32" fill="red">
            <use xlink:href="bootstrap-icons.svg#clipboard2" />
          </svg>
          <div class="draft">
            <p class="draft">Titolo: {{myd?.titolo}}</p>
            <p class="draft">Descrizione: {{myd?.descrizione}}</p>
            <button id="deletedraft" class="btn btn-warning btn-sm"
              (click)="cleanSingleDraftFromStorage()">Delete</button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

